aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
attrs==25.3.0
certifi==2025.8.3
charset-normalizer==3.4.3
deutsche-bahn-api==1.1.0
dvb==1.4
frozenlist==1.7.0
idna==3.10
mpu==0.23.1
multidict==6.6.4
numpy==2.3.3
propcache==0.3.2
pyproj==3.7.2
python-dotenv==1.1.1
python-weather==2.1.0
requests==2.32.5
typing_extensions==4.15.0
urllib3==2.5.0
yarl==1.20.1
